/* Overall elements */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0px;
  margin-top: 200px;
  margin-bottom: 60px;
  background: #282c34;
  min-width: 800px;
}
div#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* Header */

.headerContainer {
  width: 800px;
  margin: 0 auto;
  border-bottom: solid 1px #e44d63;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.headerContainer h2 {
  color: #7bbcb3;
  font-weight: 100;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin: 0;
}
.headerContainer h3 {
  font-weight: 300;
  color: #939599;
  text-align: center;
}

/* Content */

.contentContainer {
  width: 800px;
  margin: 0 auto;
}
.contentContainer p {
  text-align: center;
  width: 640px;
  margin: 0 auto;
  color: #939599;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  margin-bottom: 40px;
}
.contentContainer p a {
  color: #939599;
  text-decoration: none;
  border-bottom: dotted 1px #939599;
  background: #282c34;
}
.contentContainer p a:hover {
  color: #e44d63;
  border-bottom: dotted 1px #e44d63;
}
.contentContainer h2 {
  width: 100%;
  color: #939599;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}
.contentContainer h4 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #666;
  text-align: center;
}
.linksWrapper {
  width: 800px;
  text-align: center;
}
.contentContainer ul {
  font-size: 18px;
  font-weight: 300;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contentContainer ul li {
  margin-right: 10px;
  display: inline-block;
}
.contentContainer ul li a {
  display: block;
  color: #939599;
  border-bottom: dotted 1px #939599;
  text-decoration: none;
}
.contentContainer ul li a:hover {
  color: #e44d63;
  border-bottom: dotted 1px #e44d63;
  text-decoration: none;
}
