/* Overall elements */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.8;
  margin-top: 160px;
  background: #e44d63 url("../img/bg_pattern.png");
  background-size: 8%;
  min-width: 960px;
}
div#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* Header */

.headerContainer {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.headerContainer h2 {
  color: #ffffff;
  font-size: 72px;
  font-family: "Averia Serif Libre";
  letter-spacing: -5px;
  text-align: center;
  margin: 0;
}
.headerContainer h3 {
  font-weight: 300;
  color: #984050;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}

/* Content */

.contentContainer {
  width: 960px;
  margin: 0 auto;
}
.contentContainer p {
  text-align: center;
  width: 960px;
  margin: 0 auto;
  color: #984050;
  margin-bottom: 40px;
}
.contentContainer p a {
  color: #984050;
  text-decoration: none;
  border-bottom: dotted 1px #ffffff;
}
.contentContainer p a:hover {
  color: #ffffff;
  border-bottom: dotted 1px #ffffff;
}
.contentContainer h2 {
  width: 100%;
  color: #984050;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}
.contentContainer h4 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #984050;
  text-align: center;
}
.linksWrapper {
  width: 960px;
  text-align: center;
}
.contentContainer ul {
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contentContainer ul li {
  margin-right: 10px;
  display: inline-block;
}
.contentContainer ul li a {
  display: block;
  color: #984050;
  border-bottom: dotted 1px #ffffff;
  text-decoration: none;
}
.contentContainer ul li a:hover {
  color: #ffffff;
  border-bottom: dotted 1px #ffffff;
  text-decoration: none;
}
