/* Overall elements */

  :root {
  --color-primary: #fd6592;
  --color-secondary: #d5c3e6;
  --color-background: #191725;
          --color-text: #d5c3e6;
  --color-text-secondary: #caa6ec;
  --color-text-tertiary: #9a80b3;
  --color-text-quaternary: #6a4a80;
        --color-text-quinary: #3a2a60; 
}

body {
  font-family: "Lexend", sans-serif;
  font-size: 24px;
  margin: 0;
  line-height: 1.8;
  background: var(--color-background);
  color: var(--color-text);
  min-width: 960px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header */

.headerContainer {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.headerContainer h2 {
  color: var(--color-primary);
  font-size: 128px;
  text-align: center;
  margin: 0;
}
.headerContainer h3 {
  color: var(--color-secondary);
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}

/* Content */

.contentContainer {
  width: 960px;
  margin: 0 auto;
}
.contentContainer p {
  text-align: center;
  width: 960px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.contentContainer p a {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: dotted 1px var(--color-primary);
}
.contentContainer p a:hover {
  color: var(--color-primary);
  border-bottom: solid 1px var(--color-primary);
}
.contentContainer h2 {
  width: 100%;
  color: var(--color-text-secondary);
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}
.contentContainer h4 {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
.linksWrapper {
  width: 960px;
  text-align: center;
}
.contentContainer ul {
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contentContainer ul li {
  margin-right: 10px;
  display: inline-block;
}
.contentContainer button {
  font-family: inherit;
  background: none;
  border: none;
  padding: 6px 12px;
  margin: 0 10px;
  color: var(--color-primary);
  border: solid 1px var(--color-primary);
  cursor: pointer;
}
.contentContainer button:hover {
  color: var(--color-primary);
}
.contentContainer button:active {
  color: var(--color-primary);
}
.contentContainer button:focus {
  outline: none;
}
.contentContainer button:focus {
  color: var(--color-text);
} 