/* Overall elements */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.8;
  margin-top: 160px;
  background: #191725;
  background-image: url("../img/bg_pattern.png");
  background-blend-mode: multiply;
  background-position-x: -120px;
  background-position-y: -120px;
  background-size: 20%;
  min-width: 960px;
}
div#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* Header */

.headerContainer {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.headerContainer h2 {
  color: #fd6592;
  font-size: 128px;
  font-family: "Averia Serif Libre";
  text-align: center;
  margin: 0;
}
.headerContainer h3 {
  font-weight: 300;
  color: #d5c3e6;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}

/* Content */

.contentContainer {
  width: 960px;
  margin: 0 auto;
}
.contentContainer p {
  text-align: center;
  width: 960px;
  margin: 0 auto;
  color: #d5c3e6;
  margin-bottom: 40px;
}
.contentContainer p a {
  color: #fd6592;
  text-decoration: none;
  border-bottom: dotted 1px #fd6592;
}
.contentContainer p a:hover {
  color: #fd6592;
  border-bottom: solid 1px #fd6592;
}
.contentContainer h2 {
  width: 100%;
  color: #caa6ec;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}
.contentContainer h4 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #caa6ec;
  text-align: center;
}
.linksWrapper {
  width: 960px;
  text-align: center;
}
.contentContainer ul {
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contentContainer ul li {
  margin-right: 10px;
  display: inline-block;
}
.contentContainer ul li a {
  display: block;
  color: #fd6592;
  border-bottom: dotted 1px #fd6592;
  text-decoration: none;
}
.contentContainer ul li a:hover {
  color: #fd6592;
  border-bottom: solid 1px #fd6592;
  text-decoration: none;
}
